<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.honor.forall.dao.mapper.UserMapper">

    <select id="guestUser" resultMap="userResultMap">
        select
            id, login, code
        from
            users
        where
            login = 'guest'
            and code = 0
    </select>

    <resultMap id="userResultMap" type="User">
        <id property="id" column="id" />
        <result property="login" column="login" />
        <result property="code" column="code" />
    </resultMap>

</mapper>